@import '@laraddon/style.css';

@layer components {
    .button {
        @apply
            border
            px-2
            py-2
            transition-colors
            text-gray-500
            border-gray-200
            focus:outline-none
            focus:z-1
            focus:ring-1
            focus:ring-gray-200
            focus:ring-offset-gray-200
            dark:focus:ring-offset-gray-600
            dark:border-gray-700
            dark:text-gray-400
            dark:bg-gray-700
            dark:hover:bg-gray-600
            hover:bg-gray-200
            hover:text-gray-900
            disabled:pointer-events-auto
            disabled:opacity-50;
    }

    .button-group > button:first-child {
        @apply rounded-l-md;
    }

    .button-group > button:nth-child {
        @apply -ml-px;
    }

    .button-group > button:last-child {
        @apply rounded-r-md;
    }
}